<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 style="font-size: 3em;">CryptoWick</h1>
    <h1 style="margin: 1em 0;">Programmable SMS notifications for cryptocurrency investors</h1>
    <p>Stay updated with cryptocurrency price trends as they happen, without having to live behind your computer screen.</p>
    
    <div class="col-xs-6 col-xs-offset-3">
      <div class="input-group">
        <input type="text" placeholder="Enter your email address" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Notify me when it's ready</button>
        </span>
      </div>
    </div>
  </div>
</div>

</body>
</html>
