<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center" style="min-height: 100vh; background-image: url('candlestick-chart.jpg'); margin: 0;" >
      <div class="container">
        <h1 style="font-size: 3em;">CryptoWick</h1>
        <h1 style="margin: 1em 0;">Programmable SMS notifications for cryptocurrency investors</h1>
        <p>Stay updated with cryptocurrency price trends as they happen, without having to live behind your computer screen.</p>
        
        <div class="col-xs-6 col-xs-offset-3">
          <div class="input-group">
            <input id="emailAddress" type="text" placeholder="Enter your email address" class="form-control">
            <span class="input-group-btn">
              <button id="signupButton" class="btn btn-success" type="button">Notify me when it's ready</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <script>
    var emailAddressInput = document.getElementById("emailAddress");
    var signupButton = document.getElementById("signupButton");

    signupButton.addEventListener("click", function() {
      var xhr = new XMLHttpRequest();
      xhr.onload = function() {
        if(xhr.status === 200) {
          alert("You have successfully signed up to be notified when CryptoWick is ready!");
          emailAddressInput.value = "";
        } else {
          alert("Failed signing up.");
        }
      };
      xhr.open("POST", "/signup");
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify({ emailAddress: emailAddressInput.value }));
    });
    </script>
  </body>
</html>
